table.responsibilities tr:hover {
    background-color: inherit;
}

#footer {
    font-size: 14px;
}

.items-list > * {
    background: inherit;
    border-width: 0px 0px 1px 0px;
}

.items-list > :last-child {
    border-width: 0px;
}

.name-variant {
    color: #bbbbbb;
    font-size: 0.8rem;
}

.document-item {
    display: flex;
}

#bibliography-logo {
    max-width: 100%;
    height: auto;
}

#list-headers {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
    border-bottom: 1px solid black;
}
/*
#document-types-form {
    border-radius: 5px;
    padding: 5px;
    background-color: #f1f1f1;
}
*/
/*.filter_drop_down {
    min-height: 20em;
}*/
