{% from "bootstrap/form.html" import render_form %}
{% block list_items %}
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
	<div class="form-group">
	  <h5>Display documents of the following types:</h5>
	  {{ render_form(document_types, id="select_doc_type") }}
	</div>
      </div>
      <!-- 
	id="document-list" and class="document-item" - 
	used for the purpose of checking if the list displays
	any items
	-->
      <div id="document-list" class="w-auto col-md list-group">
	{% for document in pagination.items %}
	  {{ macros.document_list_item(document) }}
	{% endfor %}
      </div>
    </div>
  </div>
  <script type="application/javascript" defer>
    let checkboxes = document.querySelectorAll(
	'#select_doc_type input[type=checkbox]');
for(checkbox of checkboxes) {
    checkbox.addEventListener('click', function(event) {
	if(document.querySelectorAll(
	    '#select_doc_type input[type=checkbox]:checked').length < 1) {
	    event.preventDefault();
	}
    })
}
</script>
{% endblock %}
