{% for resp_field in [
  {'responsibility_multisel': entity_form.responsibility_collectivities,
  'remove_bt_id': 'remove-sel-collective-body-bt',
  'select_ordering_options': 'select-ordering',
  'selected_responsibility_title': 'Selected collective body:',
  'selected_responsibility_id': 'selected_collective_body',
  'responsibility_names_field_id': 'responsibility-names-collective-bodies',
  'add_responsibility_button_id': 'add-responsibility-coll-body',
  'input_id': 'collective-body-responsibility-stmt',
  'dropdown_list': 'resp-collectivities-list'},
  {'responsibility_multisel': entity_form.responsibilities_people,
  'remove_bt_id': 'remove-selected-individual-bt',
  'select_ordering_options': 'select-ordering-individuals',
  'selected_responsibility_title': 'Selected individual:',
  'selected_responsibility_id': 'selected_individual',
  'responsibility_names_field_id': 'responsibility-names-individuals',
  'add_responsibility_button_id': 'add-responsibility-individual',
  'input_id': 'individual-responsibility-stmt',
  'dropdown_list': 'resp-individuals-list'}] %}

  <div class="border border-light bg-light rounded pr-2 pl-2 m-1 mb-3">
    {{ render_field(resp_field['responsibility_multisel']) }}
    <button id="{{ resp_field['remove_bt_id'] }}" class="btn btn-warning"> 
      Remove&nbsp;selected
    </button>
    <div class="row align-items-end pb-3">
      <div class="col">
	<div class="form-group">
	  <label class="form-control-label" for="select-ordering">
	    Ordering:
	  </label>
	  <select class="form-control" id="{{ resp_field['select_ordering_options'] }}" name="{{ resp_field['select_ordering_options'] }}">
	    {% for n in range(options['ordering_range']) %}
	      <option value="{{ n }}">{{ n }}</option>
	    {% endfor %}
	  </select>
	</div>
      </div>
      <div class="col mt-3">
	{{ resp_field['selected_responsibility_title'] }}
	<strong>
	  <p class="border border-dark rounded p-1" id="{{ resp_field['selected_responsibility_id'] }}">
	    &nbsp;
	  </p>
	</strong>
      </div>
      <div class="col">
	{{ render_field(entity_form.responsibility_names,
	id=resp_field['responsibility_names_field_id'] ) }}
      </div>
      <div class="col">
	<button id="{{ resp_field['add_responsibility_button_id'] }}" class="btn btn-secondary mb-3">
	  Add
	</button>
      </div>
    </div><!-- row -->
    <input id="{{ resp_field['input_id'] }}" class="w-100 mb-3" placeholder="Type to search and add">
    <div id="{{ resp_field['dropdown_list'] }}" class="pb-3"></div>
  </div> <!-- border -->
{% endfor %}
