<div class="list-group col-md-6">
  {% for person in pagination.items %}
    {% if literal_column(person).name[4] == 'person' %}
      <a class="list-group-item list-group-item-action"
	 href="{{ url_for('.person_details', person_id=person.person_id) }}"> 
	 <strong>{{ person.last_name }}</strong>, {{ person.forenames }}
	 {% if person.life_years %} ({{ person.life_years }}) {% endif %} 
      </a>
    {% elif literal_column(person).name[4] == 'name_variant' %}
      <em><small><a class="list-group-item"
	 href="{{ url_for('.name_variant', variant_id=person.person_id) }}"> 
	{{ person.last_name }}, {{ person.forenames }}
      </a></small></em> 
    {% endif %}
  {% endfor %}
</div>
