<h1>Project description</h1>
<p>This is a simple bibliography application for viewing and creating
collections of records for documents.</p>
<p>It has the following functionality:</p>
<ul>
  <li>Defining statements of responsibility (author, publisher etc.)</li>
  <li>Adding to the database:</li>
  <ul>
    <li>Bibliographic descriptions of documents</li>
    <li>Personal records for authors, illustrators, translators etc.</li>
    <li>Records for collective bodies such as publishing houses, foundations etc.,</li>
    <li>geographic locations, languages, document types, statements of responsibility</li>
  </ul>
  <li>Defining document topics (subject keywords, geographic locations,
individuals etc.)</li>
  <li>Browsing, searching and editing collected information</li>
  <li>Registering and authenticating bibliography editors and managing
    their accounts.</li>
</ul>

<h4>I chose to write a simplified bibliography web application for the following
reasons:</h4>
<ul>
  <li>It gave me the opportunity to practice using relational database with
    various relationships between tables.</li>
  <li>Bibliographies are something I used to learn about while I was studying at the university.</li>
</ul>

<h4>What is the difference between bibliography and library management system?</h4>
<p>Bibliographies and bibliography applications are similar to
library management systems in that they register documents (bibliographic entries).</p>
<p>The main difference is that the bibliography records characteristics
  of all copies of a given book as a single publication,
  whereas library management system also records particular physical copies
  of a document (among other functionality).</p>
<p>The aim of a bibliography is to inform users about documents published and allow
them to browse bibliographic descriptions using different criteria (such as
topics of a document; it's author, publication place etc.)</p>
<p>I took <em>Polska Bibliografia Literacka</em> (Polish Bibliography of Literature
available at <a href="http://www.ibl.poznan.pl/" target="_blank">
http://www.ibl.poznan.pl/</a>)
as a very general model for my application (mainly in respect to it's purpose).</p>
