<h1>References:</h1>
<p>During (and before) the development of the application I familiarized myself with the following resources (books, learning materials, official documentation and websites):</p>

<h5>Books:</h5>
<ul>
  <li>Duckett, Jon.  <em>HTML & CSS. Design and Build Websites.</em> Indianapolis, 2011.</li>
  <li>Grinberg, Miguel. F<em>lask Web Development: Developing Web
    Applications with Python.</em> [Sebastopol], 2018.</li>
  <li>Haverbeke, Marijn. <em>Eloquent JavaScript</em>. 3rd edition. 2018
    (available online:
    <a href="https://eloquentjavascript.net/" target="_blank">
      https://eloquentjavascript.net/)
  </a></li>
  <li>Lutz, Mark. <em>Learning Python.</em> [Sebastopol], 2009.</li>
  <li>Pratt, Phil; Last, Mary. <em>Concepts of Database
    Management.</em> Boston, 2014. (Fragments only)</li>
  <li>Sommerville, Ian. <em>Software Engineering.</em> Boston, 2016.</li>
</ul>

<h5>Websites (last accessed on December 30, 2021):</h5>
<ul>
  <li><a href="https://getbootstrap.com/" target="_blank">
      Bootstrap 4 documentation</a> - https://getbootstrap.com/
  </li>
  <li>
    <a href="https://jquery.com/" target="_blank">
      JQuery documentation</a> - https://jquery.com/
  </li>
  <li>
    <a href="https://developer.mozilla.org/en-US/" target="_blank">
      MDN Web Docs
    </a>
    (Mozilla developer's docs - include reference on
    JavaScript and HTML, among other Web technologies) - https://developer.mozilla.org/en-US/</li>
  <li>
<a href="https://realpython.com/" target="_blank">
Real Python</a> (Emacs configuration for use with Python,
    useful posts about Python and it's features) - https://realpython.com/</li>
  <li>
    <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world" target="_blank">
      Miguel Grinberg's blog about Python, Flask and much more:</a> https://blog.miguelgrinberg.com/
  </li>
  <li>
    <a href="https://docs.sqlalchemy.org/en/14/" target="_blank">
      SQLAlchemy documentation
    </a>
    - https://docs.sqlalchemy.org/en/14/
  </li>
  <li>
    <a href="https://stackoverflow.com/" target="_blank">
      StackOverflow
    </a>
    (usually browsing already answered questions):
    https://stackoverflow.com/</li>
</ul>
