<!doctype html>
<html lang="en">
  {% import "macros.html" as macros with context %}
  <head>
    <!--
	 Base templated based on:
	 https://bootstrap-flask.readthedocs.io/en/stable/migrate.html#create-base-template
    -->
      {% block head %}
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      {% block styles %}
	<!-- Bootstrap CSS -->

      {{ bootstrap.load_css() }}
      <!-- development version - bs icons -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    {% endblock %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

      {% block title %}
	<title>Flask Bibliography Application</title>
      {% endblock %}
    {% endblock %}
  </head>
  <body>
    {% include "_base_navbar.html" %}

    <!-- Flask flashed messages -->

    <div class="container ml-3 mr-3 mt-3 mb-1">

      {% with messages = get_flashed_messages() %}
	{% if messages %}
	  {% for message in messages %}
	    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
	      {{ message }}
	      <button type="button" class="close" data-dismiss="alert" aria-label="close">
		<span aria-hidden="true">&times;</span>
	      </button>
	    </div>
	  {% endfor %}
	{% endif %}
      {% endwith %}
    </div>

    <!-- Your page content -->
    <div class="container mx-auto">
      {% block breadcrumb_nav %}
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    {% for breadcrumb in breadcrumbs %}
	      <li class={{ "breadcrumb-item active" if loop.last else "breadcrumb-item" }}>
		{% if loop.last %}
		  {{ breadcrumb.text }}
		{% else %}
		  <a href="{{ breadcrumb.url }}">
		    {{ breadcrumb.text }}
		  </a>
		{% endif %}
	      </li>
	      {# {{ '/' if not loop.last }} #}
	    {% endfor %}
	  </ol>
	</nav>
      {% endblock %}
      {% block content %}
      {% endblock %}
    </div>

      {% block footer %}

	<footer class="row jumbotron jumbotron-fluid pl-4 pr-3 mr-0">
	  <div class="col-md-4 list-group mb-3">
	    <h3 class="list-group-item list-group-item-action list-group-item-info">External links</h3>
	    <a class="list-group-item list-group-item-action list-group-item-info" href="https://www.python.org/" target="_blank">Python</a>
	    <a class="list-group-item list-group-item-action list-group-item-info" href="https://palletsprojects.com/p/flask/" target="_blank">Flask</a>
	    <a class="list-group-item list-group-item-action list-group-item-info" href="https://www.sqlalchemy.org/" target="_blank">SQLAlchemy</a>
	    <a class="list-group-item list-group-item-action list-group-item-info" href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
	    <a class="list-group-item list-group-item-action list-group-item-info" href="https://www.ifla.org/references/best-practice-for-national-bibliographic-agencies-in-a-digital-age/resource-description-and-standards/bibliographic-control/international-standard-bibliographic-description-isbd/" target="_blank">ISBD (International Standard Bibliographic Description)</a>
	  </div>
	 <div class="col-md-4">
	    <h3>About the project</h3>
	    <p>The purpose of the application is to facilitate creating and managing bibliographies of the following resources (documents):
	      <ul>
		<li>Books</li>
		<li>Periodicals</li>
		<li>Articles from periodicals and from collective works (published as books).</li>
	      </ul>
	      The application uses a relational database, allows browsing bibliographic records over the web and has separate views for editing bibliographic information.</p>
	      <p><a href="https://docs.google.com/document/d/1l2sDb6wOPnfhyzBBr6hmPlrVnx5hCmTDyNj_LDbgHxs/edit?usp=sharing" target="_blank">Read More&nbsp;>></a></p>
	 </div>
	 <div class="col-md-4">
	   <h3>Quick-start</h3>
	   <ul>
	     <li>Choose entry list from the "Browse" menu.</li>
	     <li>Click on a list-item to see details.</li>
	     <li>Subsequent hyperlinks will take you to other referenced items.</li>
	     <li>Use "Full text" quick-search to look up entries from the database.</li>
	     <li>Click the "Search documents" for multiaspect document search.</li>
	     <li>Click user menu to log-in or go to the registration page.</li>
	     <li>If an administrator elevates your permissions, you'll gain
acces to additional functionality: adding new and editing existing records.</li>
	   </ul>
	 </div>
	 <div id="footer" class="col-md-12">
	   Copyright<sup>&copy;</sup> 2022 Radosław Kuzyk. Demo web-application for presentational purposes.
	   Click <a href="{{ url_for('main.disclaimer') }}">here</a> to read the disclaimer.
	 </div>
	</footer>
      {% endblock %}

    {% block scripts %}		       

      <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }}

      <!-- Enable bs tooltips -->
      <script>
	$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
	});
      </script>
  {% endblock %}			       
  </body>
</html>
