<!doctype html>
<html lang="en">
  {% import "macros.html" as macros with context %}
  <head>
    <!--
	 Base templated based on:
	 https://bootstrap-flask.readthedocs.io/en/stable/migrate.html#create-base-template
    -->
      {% block head %}
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      {% block styles %}
	<!-- Bootstrap CSS -->

      {{ bootstrap.load_css() }}
    {% endblock %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',
					       filename='styles.css') }}">

    <title>Flask Bibliography Application</title>
  {% endblock %}
  </head>
  <body>
    {% block navbar %}
      <nav class="navbar navbar-expand-md navbar-dark bg-dark
		  justify-content-center">
	<div class="d-flex flex-grow-1">
	  <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
	  <a class="navbar-brand" href="/">Logo</a>
	  <div class="w-100 text-right">
            <button class="navbar-toggler"
		    type="button"
		    data-toggle="collapse"
		    data-target="#navbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
	</div>
	<div class="collapse navbar-expand-md navbar-collapse flex-grow-1 justify-content-end text-right" id="navbar">
	  <ul class="navbar-nav ml-auto">
	    {% if g.search_form %}
	    <div class="container">
	      <form class="navbar-form row navbar-right"
		    action="{{ url_for('main.quick_search') }}"
		    method="get">
	    	<div class="col pr-1"> 
	    	  {{ g.search_form.q() }}
	    	</div>
	    	<div class="col-auto p-0"> 
	    	  {{ g.search_form.search() }}
	    	</div> 
	      </form> 
	    </div> <!-- container -->
	  {% endif %}
	  <li class="nav-item">
	    <a class="nav-link" href="{{ url_for('main.document_search') }}">
	      Search&nbsp;documents
	    </a> 
	  </li>

	  {# Docelowo w tej samej kolejności co w Browse #}
	  {% if current_user.can(Permissions.EDIT_BIBLIOGRAPHY) %}
	    <li class="nav-item dropdown">
	      <a class="nav-link dropdown-toggle"
		 href="#"
		 data-toggle="dropdown"
		 title="Add new document/person/collective body&hellip; record.">
		Add new record
	      </a>
	      <div class="dropdown-menu">
		<a class="dropdown-item"
		   data-toggle="tooltip"
		   title="Add new entry for a collective body"
		   data-placement="left"
		   href="{{ url_for('main.edit_database_entry', model_name='collective-body', new='True') }}">
		   Collective name
		</a>
		<a class="dropdown-item"
		   data-toggle="tooltip"
		   data-placement="left"
		   title="Add new document-type entry"
		   href="{{ url_for('main.edit_database_entry', model_name='document-types', new='True') }}">
		   Document type
		</a>
		<a class="dropdown-item"
		   data-toggle="tooltip"
		   title="Add new geographic location entry"
		   data-placement="left"
		   href="{{ url_for('main.edit_database_entry', model_name='geographic-location', new='True') }}">
		   Geographic location
		</a>
		<a class="dropdown-item"
		   data-toggle="tooltip"
		   data-placement="left"
		   title="Add new keyword (subject header) entry"
		   href="{{ url_for('main.edit_database_entry', model_name='keyword', new='True') }}">
		   Keyword
		</a>
		<a class="dropdown-item"
		   data-toggle="tooltip"
		   data-placement="left"
		   title="Add new language entry"
		   href="{{ url_for('main.edit_database_entry', model_name='language', new='True') }}">
		   Language
		</a>
		<a class="dropdown-item"
		   data-toggle="tooltip"
		   data-placement="left"
		   title="Add new responsibility name entry"
		   href="{{ url_for('main.edit_database_entry', model_name='responsibility-name', new='True') }}">
		   Responsibility name
		</a>
	      </div>
	    </li>
	  {% endif %}

	  <li class="nav-item dropdown">
	      <a class="nav-link dropdown-toggle"
		 href="#"
		 data-toggle="dropdown"
		 data-placement="left"
		 title="Paginated, ordered lists of items.">
		Browse
	      </a>
	      <div class="dropdown-menu">
		<a class="dropdown-item"
		   data-toggle="tooltip"
		   title="Ordered list of collective names (organisations -
		   companies, foundation etc.) attached to documents as
		   responsibility statements or subjects."
		   data-placement="left"
		   href="{{ url_for('main.collective_bodies_list') }}">
		   Collective names
		</a>
		<a class="dropdown-item"
		   href="{{ url_for('main.document_types_list') }}"
		   data-toggle="tooltip"
		   title="Document types, number of documents for each
		   type and links to list of documents for each set."
		   data-placement="left" href="#">
		   Document types
		</a>
		<a class="dropdown-item"
		   data-toggle="tooltip"
		   title="Ordered list of documents with title filter."
		   data-placement="left"
		   href="{{ url_for('main.documents_list') }}">
		   Documents
		</a>
		<a class="dropdown-item" data-toggle="tooltip"
		   title="Ordered list of geographic locations
		   (publication places and subjects)."
		   data-placement="left"
		   href="{{ url_for('main.geographic_locations_list') }}">
		  Geographic locations
		</a>
		<a class="dropdown-item" data-toggle="tooltip"
		   title="Ordered list of subject headers (topics)
			  of documents."
		   data-placement="left"
		   href="{{ url_for('main.keywords_list') }}">
		  Subject keywords
		</a>
		<a class="dropdown-item" data-toggle="tooltip"
		   title="Ordered list of languages (as languages in which
		   documents were written/published or as topics
		   for the documents)."
		   data-placement="left"
		   href="{{ url_for('main.language_list') }}">
		  Languages
		</a>
		<a class="dropdown-item"
		   data-toggle="tooltip"
		   title="Ordered list of authors, editors etc., but also
		   individuals being subjects of the documents."
		   data-placement="left"
		   href="{{ url_for('main.browse_people') }}">
		  Personal names
		</a>
		<a class="dropdown-item"
		   data-toggle="tooltip"
		   title="Ordered list of collective body / individual
			  responsibilities in documents."
		   data-placement="left"
		   href="{{ url_for('main.responsibilities_list') }}">
		  Responsibilities
		</a>
	      </div>
	    </li>
	  </ul>
	  <ul class="navbar-nav mr-auto flex-nowrap">
	    <li class="nav-item dropdown">
	      <a class="nav-link dropdown-toggle"
		 href="#" data-toggle="dropdown">
		 {% if current_user.is_authenticated %}
		   {{ current_user.username }}
		 {% else %}
		   Anonymous
		 {% endif %}
	      </a>
	      <!-- More detailed description in views.graphml -->
	      <div class="dropdown-menu">
		{% if current_user.is_authenticated %}
		<a class="dropdown-item">
		  Account details
		</a>
		  <a class="dropdown-item" href="{{ url_for('auth.logout') }}">
		    Log out
		  </a>
		{% else %}
		  <a class="dropdown-item" href="{{ url_for('auth.login') }}">
		    Log in
		  </a>
		{% endif %}
	      </div>
	    </li>
	  </ul>
	</div>
      </nav>
    {% endblock %}

    <!-- Your page content -->

      <div class="cointainer ml-3 mr-3 mt-3 mb-1">

	<!-- Flask flashed messages -->

	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
	      <div class="alert alert-secondary alert-dismissible fade show" role="alert">
		{{ message }}
		<button type="button" class="close" data-dismiss="alert" aria-label="close">
		  <span aria-hidden="true">&times;</span>
		</button>
	      </div>
	    {% endfor %}
	  {% endif %}
	{% endwith %}
	{% block content %}
	  
	{% endblock %}
      </div>

      {% block footer %}

	<footer class="row jumbotron jumbotron-fluid pl-4 pr-3 mr-0">
	  <div class="col-md-4 list-group mb-3">
	    <h3 class="list-group-item list-group-item-action list-group-item-info">External links</h3>
	    <a class="list-group-item list-group-item-action list-group-item-info" href="https://www.python.org/" target="_blank">Python</a>
	    <a class="list-group-item list-group-item-action list-group-item-info" href="https://palletsprojects.com/p/flask/" target="_blank">Flask</a>
	    <a class="list-group-item list-group-item-action list-group-item-info" href="https://www.sqlalchemy.org/" target="_blank">SQLAlchemy</a>
	    <a class="list-group-item list-group-item-action list-group-item-info" href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
	  </div>
	 <div class="col-md-4">
	    <h3>About the project</h3>
	    <p>The purpose of the application is to facilitate creating and managing bibliographies of the following resources (documents):
	      <ul>
		<li>Books</li>
		<li>Periodicals</li>
		<li>Articles from periodicals and from collective works (published as books).</li>
	      </ul>
	      The application uses a relational database, allows browsing bibliographic records over the web and has separate views for editing bibliographic information.</p>
	      <p><a href="https://docs.google.com/document/d/1l2sDb6wOPnfhyzBBr6hmPlrVnx5hCmTDyNj_LDbgHxs/edit?usp=sharing">Read More&nbsp;>></a></p>
	 </div>
	 <div class="col-md-4">
	   <h3>Quick-start</h3>
	   <ul>
	     <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
	     <li>Maecenas eu viverra dolor, et dapibus turpis.</li>
	     <li>Sed eu ante in sapien convallis accumsan.</li>
	     <li>Nullam at nunc vel mi porttitor porta.</li>
	     <li>Ut erat nisl, blandit at nibh vitae, tristique bibendum nisl.</li>
	   </ul>
	 </div>
	 <div id="footer" class="col-md-12">
	   Copyright<sup>&copy;</sup> Radosław Kuzyk. Demo web-application for presentational purposes.
	   Click <a href="#">here</a> for details about licence and disclaimer.
	 </div>
	</footer>
      {% endblock %}

    {% block scripts %}		       

      <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }}

      <!-- Enable bs tooltips -->
      <script>
	$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
	});
      </script>
  {% endblock %}			       
  </body>
</html>
