{% extends "base.html" %}
{% block content %}
  <h1>List of collective bodies from the database</h1>
  <h5>Alphabetical order, ascending</h5>
  {% for collective_body in pagination.items %}
    <div class="list-group col-md-6">
      <a class="list-group-item list-group-item-action"
	 href="{{ url_for('.collective_body_details',
	 c_body_id=collective_body.id) }}">
	{{ collective_body.name }}
      </a>
    </div>
  {% endfor %}
  {{ macros.pagination_widget(pagination, '.collective_bodies_list') }}
{% endblock %}
