{% extends "base.html" %}
{% block content %}
  <h1>{{ document_type.name }}</h1>
  <h6>Details for the <em>document type</em> entry, id number:
    {{ document_type.type_id }}</h6>
  <table class="table table-hover col-md-6">
    {% if document_type.description %}
      <tr>
	<td>Description of the document type:</td>
	<td>{{ document_type.description }}</td>
      </tr>
    {% endif %}
    <tr>
      <td>Application default (built-in) or editable?</td>
      <td>
	{% if document_type.modifiable %}
	  Editable.
	{% else %}
	  Application built-in (not editable).
      </td>
    </tr>
   {% endif %}
    <tr>
      <td colspan="2"><h4>Number of documents of this type:
	<span class="badge badge-pill badge-secondary">
	  {{ document_type.documents.count() }}
      </span></h4></td>
    </tr>
  </table>
  {{ macros.edit_entry_bt('document-types', id=document_type.type_id) }}
{% endblock %}
