{% extends "base.html" %}
{% block content %}
<a class="btn btn-primary mb-2" data-toggle="collapse" href="#accordion-wrapper" role="button" aria-expanded="false" aria-controls="search-fields-accordion">
    Toggle search options
</a>
<div id="accordion-wrapper" class="collapse">
        <div id="search-fields-accordion">
          {% for search_field in search_fields %}
          <div class="card mb-3">
            <div class="card-header" id="{{ search_field['card_header_id'] }}">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#{{ search_field['collapse_id'] }}">
                  {{ search_field['title'] }}
                </button>
              </h5>
            </div> <!-- card-header -->
            <div id="{{ search_field['collapse_id'] }}" class="collapse" data-parent="#search-fields-accordion">
              <input class="form-control" id="{{ search_field['input_id'] }}" type="text" placeholder="Search...">
              <div id="{{ search_field['filter_id'] }}" class="filter_drop_down list-group"></div>
            </div>
            <div id="{{ search_field['selected_list_id'] }}"></div>
          </div> <!-- card -->
          {% endfor %}
        </div>
        <div class="card card-body">
          <div class="input-group">
            <div class="input-group-text">
              <img src="{{ url_for('static', filename='icons/search.svg') }}" />
            </div>
            <input class="form-control" id="document-text-fields-search" type="text" placeholder="Search title fields, notes and simple series field&hellip;">
          </div>
        </div>
        <div class="card card-body">
          <div class="input-group">
            <div class="input-group-text">
              <img src="{{ url_for('static', filename='icons/search.svg') }}" />
            </div>
            <input class="form-control" id="document-issn" type="text" placeholder="Document ISSN">
          </div>
        </div>
        <div class="card card-body">
          <div class="input-group">
            <div class="input-group-text">
              <img src="{{ url_for('static', filename='icons/search.svg') }}" />
            </div>
            <input class="form-control" id="document-isbn-10" type="text" placeholder="ISBN-10">
          </div>
        </div>
        <div class="card card-body">
          <div class="input-group">
            <div class="input-group-text">
              <img src="{{ url_for('static', filename='icons/search.svg') }}" />
            </div>
            <input class="form-control" id="document-isbn-13" type="text" placeholder="ISBN-13">
          </div>
        </div>
        <button type="button" class="btn btn-success btn-block" id="search-button">
          Search
        </button>
      </div>
</div>
</div>
{% include "_documents_list.html" %}
{{ macros.pagination_widget(pagination, endpoint, kargs) }}
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script type="application/javascript" 
  	  src="{{ url_for('static', filename='document_search.js') }}">
  </script>
  <script type="application/javascript">
let server_callbacks = [
{% for search_field in search_fields %}
    {
	"input": "#{{ search_field['input_id'] }}",
	"url": "{{ url_for( search_field['endpoint'] ) }}",
	"drop_down": "#{{ search_field['filter_id'] }}",

	{# area to put components with selected entries #}
	"parent_component_id": "#{{ search_field['selected_list_id'] }}",
	"url_query_parameter": "{{ search_field['query_parameter'] }}",
	"ids_list": new Set()
    },
{% endfor %}
]

    var root_url = "{{ request.root_url }}";

    // konstruowanie url z listy argumentów:
    // ["Rome", "Warsaw", "Prague"]
    // n_url = new URL('http://localhost:5000/test');
    // for(city of ["Rome", "Warsaw", "Prague"]) {
    // 	n_url.searchParams.append("city", city);
    // }
    // console.log(n_url.href);

    $(document).ready(function() {
	set_up_server_callbacks(server_callbacks);
	let accordion_wrapper = $('#accordion-wrapper');
	if($('#document-list > .document-item').length < 1) {
	    accordion_wrapper.collapse('show');
	}

	$("#search-button").click(() => $(location).attr("href",
	    url_query_for(
		root_url + 'document-search')(server_callbacks).href));
    });
  </script>
{% endblock %}
