{% extends "edit_entity.html" %}
{% block edit_form %}
  <form method="post"> 
    {{ render_form_row([entity_form.forenames, entity_form.last_name]) }} 
    {{ render_form_row([entity_form.life_years, entity_form.birth_date, entity_form.death_date]) }} 
    {{ render_form_row([entity_form.note]) }} 
    {{ render_form_row([entity_form.name_variants]) }}
    <div id="variant-names-dropdown" class="row">
      <div class="col-2 m-1">
	<button id="remove-variant-bt" class="btn btn-warning"> 
	  Remove&nbsp;selected 
	</button>
      </div>
      <div class="col-sm">
	<h6>Variant lookup:</h6>
	<input id="name-variant" class="w-100" placeholder="Type to search"></input>
	<div class="list-group" id="results-list"></div>
      </div>
    </div>
      {{ render_form_row([entity_form.submit]) }}
  </form>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script type="application/javascript">
    var search_name_variant = get_search_function(
	"{{ url_for('main.get_name_variant') }}",
	success_fn=results => {
	    print_search_results(
		results,
		$("#results-list"),
		"#name_variants")
	});

$(document).ready(function() {
    unselect_all("name_variants");
    search_name_variant("name-variant");
    $("#submit_form").click( 
	() => select_all_from_multiselect('#name_variants'));

    $("#remove-variant-bt").click(target => {
    	target.preventDefault(); 
    	remove_sel_from_multiselect('#name_variants');
    });
}); 
  </script>
{% endblock %}
