{% extends "edit_entity.html" %}
{% block edit_form %}
  <form method="post">
    {{ entity_form.id }}  
    {{ render_field(entity_form.title_proper) }}
    {{ render_field(entity_form.parallel_title) }}
    {{ render_field(entity_form.other_title_inf) }}
    {{ render_form_row([entity_form.edition_statement,
    entity_form.parallel_edition_stmt,
    entity_form.additional_edition_stmt]) }}
    {{ render_form_row([entity_form.numbering, entity_form.publication_date,
    entity_form.pagination]) }}
    {{ render_form_row([entity_form.physical_details, entity_form.dimensions,
    entity_form.accompanying_material]) }}
    {{ render_field(entity_form.series) }}
    {{ render_field(entity_form.note) }}
    {{ render_form_row([entity_form.issn, entity_form.isbn_10,
    entity_form.isbn_13]) }}
    {{ render_field(entity_form.document_type) }}

    {% include "_edit_document_details_responsibility_fields.html" %}
    {% include "_edit_document_details_language_fields.html" %}
    {% include "_edit_document_details_relationship_fields.html" %}
    {% include "_edit_document_details_dependent_docs.html" %}

    {{ render_field(entity_form.submit) }}
  </form>
  
{% endblock %}
{% block scripts %}
{{ super() }}
  <script type="application/javascript">

var selected_coll_body_id = undefined;
var selected_individual_id = undefined;
var selected_dependent_doc_id = undefined;

const search_coll_body = get_search_function(
    /* returns function which performs search of a collective body
     * in a responsibility section on a document edit page
     * argument: input-id:
     * search_coll_body("collective-body-responsibility-stmt")
     */
    "{{ url_for('main.get_collective_bodies') }}",
    success_fn=search_success_fn(
	"#resp-collectivities-list",
	responsibility_callback("#selected_collective_body",
				"selected_coll_body_id"))
);

const search_individual = get_search_function(
    "{{ url_for('main.get_person_entries') }}", // arg. 1
    success_fn=search_success_fn(		// arg. 2
	"#resp-individuals-list",		// arg. 1
	responsibility_callback(		// arg. 2
	    "#selected_individual", "selected_individual_id"))
);

const search_document_language = get_search_function(
    "{{ url_for('main.get_language_entries') }}",
    success_fn=search_success_fn(
	"#document-language-dropdown",
	language_callback("#language", "#language_id"))
);

const search_original_language = get_search_function(
    "{{ url_for('main.get_language_entries') }}",
    success_fn=search_success_fn(
	"#original-language-dropdown",
	language_callback("#original_language", "#original_language_id"))
);

const search_publication_places = get_search_function(
    "{{ url_for('main.get_geographic_location') }}",
    success_fn=search_success_fn(
	"#publication-places-search-dropdown",
	relationship_callback("#publication_places"))
);

const search_coll_body_subject = get_search_function(
    "{{ url_for('main.get_collective_bodies') }}",
    success_fn=search_success_fn(
	"#collective-bodies-subjects-dropdown",
	relationship_callback("#collectivity_subjects"))
);

const search_language_as_subject = get_search_function(
    "{{ url_for('main.get_language_entries') }}",
    success_fn=search_success_fn(
	"#language-subjects-dropdown",
	relationship_callback("#language_subjects"))
);

const search_location_as_subject = get_search_function(
    "{{ url_for('main.get_geographic_location') }}",
    success_fn=search_success_fn(
	"#subject-location-dropdown",
	relationship_callback("#subjects_locations"))
);

const search_keyword = get_search_function(
    "{{ url_for('main.get_keywords') }}",
    success_fn=search_success_fn(
	"#keyword-dropdown", relationship_callback("#keywords"))
);

const search_topic_person = get_search_function(
    "{{ url_for('main.get_person_entries') }}",
    success_fn=search_success_fn(
	"#topic-person-dropdown", relationship_callback("#topic_people"))
);

const search_dependent_doc = get_search_function(
    "{{ url_for('main.get_documents') }}",
    success_fn=search_success_fn(
	"#dependent-documents-dropdown", event => {
	    $("#selected-dependent-document").val(event.target.textContent);
	    selected_dependent_doc_id = event.target.id;
	})
);

$(document).ready(function() {
    let multichoice_fields = [
	"responsibility_collectivities", "responsibilities_people",
	"publication_places", "collectivity_subjects", "language_subjects",
	"keywords", "topic_people", "subjects_locations",
	"dependent_docs"];

    multichoice_fields.forEach(field => unselect_all(field));
    $("#submit-document").click(
	// select all items from responsibility multiselect
	// on submit-click
	() => multichoice_fields.forEach(
	    field => select_all_from_multiselect("#"+field)));

    search_dependent_doc("dependent-document-input");
    search_keyword("keyword-input");
    search_topic_person("topic-person-input");
    search_coll_body_subject("collective-bodies-subjects-input");
    search_language_as_subject("language-subjects-input");
    search_location_as_subject("subject-location-input");
    search_publication_places("publication-places-input");
    search_coll_body("collective-body-responsibility-stmt");
    search_document_language("document-language-input");
    search_individual("individual-responsibility-stmt");
    search_original_language("original-language-input");

    [
	{
            "button_id": "#remove-dependent-document-bt",
            "multiple_select_id":"#dependent_docs"
	},
	{
            "button_id": "#remove-subject-location-bt",
            "multiple_select_id": "#subjects_locations"
	},
	{
            "button_id": "#remove-keyword-bt",
            "multiple_select_id": "#keywords"
	},
	{
            "button_id": "#remove-language-subject-bt",
            "multiple_select_id": "#language_subjects"
	},
	{
            "button_id": "#remove-sel-collective-body-bt",
            "multiple_select_id": "#responsibility_collectivities"
	},
	{
            "button_id": "#remove-sel-publication-place-bt",
            "multiple_select_id": "#publication_places"
	},
	{
            "button_id": "#remove-selected-individual-bt",
            "multiple_select_id": "#responsibilities_people"
	},
	{
            "button_id": "#remove-collectivity-subject-bt",
            "multiple_select_id": "#collectivity_subjects"
	},
	{
	    "button_id": "#remove-topic-person-bt",
	    "multiple_select_id": "#topic_people"
	}
    ].forEach(args => $(args["button_id"]).click(
	remove_button_callback(args["multiple_select_id"])));

    // add collective body responsibility
    $("#add-responsibility-coll-body").click(
	get_add_responsibility_fn(
	    "selected_coll_body_id", "#select-ordering",
	    "#responsibility-names-collective-bodies",
	    "#selected_collective_body",
	    "#responsibility_collectivities"));
    // add individual responsibility
    $("#add-responsibility-individual").click(
	get_add_responsibility_fn(
	    "selected_individual_id", "#select-ordering-individuals",
	    "#responsibility-names-individuals", "#selected_individual",
	    "#responsibilities_people"));

    $("#clear-original-language").click(target => {
	target.preventDefault();
	$("#original_language").val("");
	$("#original_language_id").val("");
    });
    $("#clear-document-language").click(target => {
	target.preventDefault();
	$("#language").val("");
	$("#language_id").val("");
    });

    function check_dependent_doc_id(fn) {
	/* Decorator calls fn only if a selected dependent document
	 * is different from the document currently loaded into the form.
	 */
	return function() {
	    arguments[0].preventDefault();
	    if(selected_dependent_doc_id != $("input[name=id").val()) {
		fn.apply(this, arguments);
	    }
	    else {
		alert("Can not add: selected document is the same as the one "
		      + "currently loaded into the form!");
	    }
	}
    }
    $("#add-dependent-document").click(check_dependent_doc_id(
	get_add_dependent_doc(
	    "#dependent-docs-ordering", "#selected-dependent-document",
	    "#dependent_doc_rel_description", "selected_dependent_doc_id",
	    "#dependent_docs")));
});
</script>
{% endblock %}
