{% extends "edit_entity.html" %}

{# Pewne elementy wyeksportować do innych plików, #}
{# dołączanych dyrektywą include #}

{% block edit_form %}
  <form method="post">
    {{ render_field(entity_form.title_proper) }}
    {{ render_field(entity_form.parallel_title) }}
    {{ render_field(entity_form.other_title_inf) }}
    {{ render_form_row([entity_form.edition_statement,
    entity_form.parallel_edition_stmt, entity_form.additional_edition_stmt]) }}
    {{ render_form_row([entity_form.numbering, entity_form.publication_date,
    entity_form.pagination]) }}
    {{ render_form_row([entity_form.physical_details, entity_form.dimensions,
    entity_form.accompanying_material]) }}
    {{ render_field(entity_form.series) }}
    {{ render_field(entity_form.note) }}
    {{ render_form_row([entity_form.issn, entity_form.isbn_10,
    entity_form.isbn_13]) }}
    {{ render_field(entity_form.document_type) }}
    {% for resp_field in [
	{'responsibility_multisel': entity_form.responsibility_collectivities,
	'remove_bt_id': 'remove-sel-collective-body-bt',
	'select_ordering_options': 'select-ordering',
	'selected_responsibility_title': 'Selected collective body:',
	'selected_responsibility_id': 'selected_collective_body',
	'responsibility_names_field_id': 'responsibility-names-collective-bodies',
	'add_responsibility_button_id': 'add-responsibility-coll-body',
	'input_id': 'collective-body-responsibility-stmt',
	'dropdown_list': 'resp-collectivities-list'},
	{'responsibility_multisel': entity_form.responsibilities_people,
	'remove_bt_id': 'remove-selected-individual-bt',
	'select_ordering_options': 'select-ordering-individuals',
	'selected_responsibility_title': 'Selected individual:',
	'selected_responsibility_id': 'selected_individual',
	'responsibility_names_field_id': 'responsibility-names-individuals',
	'add_responsibility_button_id': 'add-responsibility-individual',
	'input_id': 'individual-responsibility-stmt',
	'dropdown_list': 'resp-individuals-list'}] %}

      <div class="border border-light bg-light rounded pr-2 pl-2 m-1 mb-3">
	{{ render_field(resp_field['responsibility_multisel']) }}
	<button id="{{ resp_field['remove_bt_id'] }}" class="btn btn-warning"> 
	  Remove&nbsp;selected
	</button>
	<div class="row align-items-end pb-3">
	  <div class="col">
	    <div class="form-group">
	      <label class="form-control-label" for="select-ordering">
		Ordering:
	      </label>
	      <select class="form-control" id="{{ resp_field['select_ordering_options'] }}" name="{{ resp_field['select_ordering_options'] }}">
		{% for n in range(options['ordering_range']) %}
		  <option value="{{ n }}">{{ n }}</option>
		{% endfor %}
	      </select>
	    </div>
	  </div>
	  <div class="col mt-3">
	    {{ resp_field['selected_responsibility_title'] }}
	    <strong>
	      <p class="border border-dark rounded p-1" id="{{ resp_field['selected_responsibility_id'] }}">
		&nbsp;
	      </p>
	    </strong>
	  </div>
	  <div class="col">
	    {{ render_field(entity_form.responsibility_names,
	    id=resp_field['responsibility_names_field_id'] ) }}
	  </div>
	  <div class="col">
	    <button id="{{ resp_field['add_responsibility_button_id'] }}" class="btn btn-secondary mb-3">
	      Add
	    </button>
	  </div>
	</div><!-- row -->
	<input id="{{ resp_field['input_id'] }}" class="w-100 mb-3" placeholder="Type to search and add">
	<div id="{{ resp_field['dropdown_list'] }}" class="pb-3"></div>
    </div> <!-- border -->
  {% endfor %}

  <div class="border border-light bg-light rounded pr-2 pl-2 m-1 mb-3">
    <div class="row">
      {% for lang_field in [{'language_clear_bt_id': 'clear-document-language',
	'lang_input_id': 'document-language-input',
	'lang_dropdown_id': 'document-language-dropdown',
	'lang_id_hidden_input': entity_form.language_id,
	'lang_text_input': entity_form.language},
	{'language_clear_bt_id': 'clear-original-language',
	'lang_input_id': 'original-language-input',
	'lang_dropdown_id': 'original-language-dropdown',
	'lang_id_hidden_input': entity_form.original_language_id,
	'lang_text_input': entity_form.original_language}] %}
	<div class="col">
	  <div class="row align-items-end">
	    <div class="col">
	      {{ render_field(lang_field['lang_id_hidden_input']) }}
	      {{ render_field(lang_field['lang_text_input']) }}
	    </div>
	    <div class="col">
	      <button id="{{ lang_field['language_clear_bt_id'] }}" class="btn btn-warning mb-3">
		Clear
	      </button>
	    </div>
	  </div> <!-- row -->
	  <input id="{{ lang_field['lang_input_id'] }}" class="w-100 mb-3" placeholder="Type in to search, click item from a list to select.">
	  <div id="{{ lang_field['lang_dropdown_id'] }}" class="pb-3"></div>
	</div> <!-- col -->
      {% endfor %}
    </div> <!-- main row -->
  </div>
  <div class="border border-light bg-light rounded pr-2 pl-2 m-1 mb-3">
    {{ render_field(entity_form.publication_places) }}
    <button id="remove-sel-publication-place-bt" class="btn btn-warning"> 
      Remove&nbsp;selected
    </button>
    <input id="publication-places-input" class="w-100 mb-1 mt-3" placeholder="Type in to search, click to add.">
    <div id="publication-places-search-dropdown"></div>
  </div> <!-- div border -->
  <div class="border border-light bg-light rounded pr-2 pl-2 m-1 mb-3">
    {{ render_field(entity_form.collectivity_subjects) }}
    <button id="remove-collectivity-subject-bt" class="btn btn-warning"> 
      Remove&nbsp;selected
    </button>
    <input id="collective-bodies-subjects-input" class="w-100 mb-1 mt-3" placeholder="Type in to search, click to add.">
    <div id="collective-bodies-subjects-dropdown"></div>
  </div> <!-- div border -->
  <div class="border border-light bg-light rounded pr-2 pl-2 m-1 mb-3">
    {{ render_field(entity_form.language_subjects) }}
    <button id="remove-language-subject-bt" class="btn btn-warning"> 
      Remove&nbsp;selected
    </button>
    <input id="language-subjects-input" class="w-100 mb-1 mt-3" placeholder="Type in to search, click to add.">
    <div id="language-subjects-dropdown"></div>
  </div> <!-- div border -->
  <div class="border border-light bg-light rounded pr-2 pl-2 m-1 mb-3">
    {{ render_field(entity_form.keywords) }}
    <button id="remove-keyword-bt" class="btn btn-warning"> 
      Remove&nbsp;selected
    </button>
    <input id="keyword-input" class="w-100 mb-1 mt-3" placeholder="Type in to search, click to add.">
    <div id="keyword-dropdown"></div>
  </div> <!-- div border -->
  <div class="border border-light bg-light rounded pr-2 pl-2 m-1 mb-3">
    {{ render_field(entity_form.topic_people) }}
    <button id="remove-topic-person-bt" class="btn btn-warning"> 
      Remove&nbsp;selected
    </button>
    <input id="topic-person-input" class="w-100 mb-1 mt-3" placeholder="Type in to search, click to add.">
    <div id="topic-person-dropdown"></div>
  </div> <!-- div border -->
  <div class="border border-light bg-light rounded pr-2 pl-2 m-1 mb-3">
    {{ render_field(entity_form.subjects_locations) }}
    <button id="remove-subject-location-bt" class="btn btn-warning"> 
      Remove&nbsp;selected
    </button>
    <input id="subject-location-input" class="w-100 mb-1 mt-3" placeholder="Type in to search, click to add.">
    <div id="subject-location-dropdown"></div>
  </div> <!-- div border -->
  {{ render_field(entity_form.submit) }}
  </form>
{% endblock %}
{% block scripts %}
{{ super() }}
  <script type="application/javascript">

var selected_coll_body_id = undefined;
var selected_individual_id = undefined;

const search_coll_body = get_search_function(
    /* search collective body in responsibility section
     * on a document edit page
     * argument: input-id:
     * search_coll_body("collective-body-responsibility-stmt")
     */
    "{{ url_for('main.get_collective_bodies') }}",
    success_fn=results => {
	print_items_clear(
	    results[0],
	    $("#resp-collectivities-list"),
	    click_fn=event => {
		selected_coll_body_id = event.target.id;
		$("#selected_collective_body").html(event.target.textContent);
	    })
    }
);

const search_individual = get_search_function(
    "{{ url_for('main.get_person_entries') }}",
    success_fn=results => {
	print_items_clear(
	    results[0],
	    $("#resp-individuals-list"),
	    click_fn=event => {
		selected_individual_id = event.target.id;
		$("#selected_individual").html(event.target.textContent);
	    }
	)
    }
);

const search_document_language = get_search_function(
    "{{ url_for('main.get_language_entries') }}",
    success_fn=results => {
	// te funkcje mogą zostać zgeneralizowane
	// wszystko co nie wymaga wartości renderowanych na serwerze
	// powinno być poza tym plikiem
	print_items_clear(
	    results[0],
	    $("#document-language-dropdown"),
	    click_fn=event => {
		$("#language").val(event.target.textContent);
		$("#language_id").val(event.target.id);
	    }
	)
    }
);

const search_publication_places = get_search_function(
    "{{ url_for('main.get_geographic_location') }}",
    success_fn=results => {
	print_items_clear(
	    results[0],
	    $("#publication-places-search-dropdown"),
	    click_fn=event => {
		let option = $("<option></option>")
		    .text(event.target.textContent)
		    .val(event.target.id);
		$("#publication_places").append(option);
	    }
	)
    }
);

// podobne do search_publication_places
const search_coll_body_subject = get_search_function(
    // search collective body for subject field
    "{{ url_for('main.get_collective_bodies') }}",
    success_fn=results => {
	print_items_clear(
	    results[0],
	    $("#collective-bodies-subjects-dropdown"),
	    click_fn=event => {
		let option = $("<option></option>")
		    .text(event.target.textContent)
		    .val(event.target.id);
		$("#collectivity_subjects").append(option);
	    }
	)
    }
);

const search_language_as_subject = get_search_function(
    "{{ url_for('main.get_language_entries') }}",
    success_fn=results => {
	print_items_clear(
	    results[0],
	    $("#language-subjects-dropdown"),
	    click_fn=event => {
		let option = $("<option></option>")
		    .text(event.target.textContent)
		    .val(event.target.id);
		$("#language_subjects").append(option);
	    }
	);
    }
);

const search_location_as_subject = get_search_function(
    "{{ url_for('main.get_geographic_location') }}",
    success_fn=results => {
	print_items_clear(
	    results[0],
	    $("#subject-location-dropdown"),
	    click_fn=event => {
		let option = $("<option></option>")
		    .text(event.target.textContent)
		    .val(event.target.id);
		$("#subjects_locations").append(option);
	    }
	);
    }
);

const search_keyword = get_search_function(
    "{{ url_for('main.get_keywords') }}",
    success_fn=results => {
	print_items_clear(
	    results[0],
	    $("#keyword-dropdown"),
	    click_fn=event => {
		let option = $("<option></option>")
		    .text(event.target.textContent)
		    .val(event.target.id);
		$("#keywords").append(option);
	    }
	)
    }
);

const search_topic_person = get_search_function(
    "{{ url_for('main.get_person_entries') }}",
    success_fn=results => {
	print_items_clear(
	    results[0],
	    $("#topic-person-dropdown"),
	    click_fn=event => {
		let option = $("<option></option>")
		    .text(event.target.textContent)
		    .val(event.target.id);
		$("#topic_people").append(option);
	    }
	)
    }
);

const search_original_language = get_search_function(
    "{{ url_for('main.get_language_entries') }}",
    success_fn=results => {
	print_items_clear(
	    results[0],
	    $("#original-language-dropdown"),
	    click_fn=event => {
		$("#original_language").val(event.target.textContent);
		$("#original_language_id").val(event.target.id);
	    }
	)
    }
);

$(document).ready(function() {
    let multichoice_fields = [
	"responsibility_collectivities", "responsibilities_people",
	"publication_places", "collectivity_subjects", "language_subjects",
	"keywords", "topic_people", "subjects_locations"];

    multichoice_fields.forEach(field => unselect_all(field));
    $("#submit-document").click(
	// select all items from responsibility multiselect
	// on submit-click
	() => multichoice_fields.forEach(
	    field => select_all_from_multiselect("#"+field)));

    search_keyword("keyword-input");
    search_topic_person("topic-person-input");
    search_coll_body_subject("collective-bodies-subjects-input");
    search_language_as_subject("language-subjects-input");
    search_location_as_subject("subject-location-input");
    search_publication_places("publication-places-input");
    search_coll_body("collective-body-responsibility-stmt");
    search_document_language("document-language-input");
    search_individual("individual-responsibility-stmt");
    search_original_language("original-language-input");

    // te funkcje można zgeneralizować
    $("#remove-subject-location-bt").click(target => {
	target.preventDefault();
	remove_sel_from_multiselect("#subjects_locations");
    });
    $("#remove-topic-person-bt").click(target => {
	target.preventDefault();
	remove_sel_from_multiselect("#topic_people");
    });
    $("#remove-keyword-bt").click(target => {
	target.preventDefault();
	remove_sel_from_multiselect("#keywords");
    });
    $("#remove-language-subject-bt").click(target => {
	target.preventDefault();
	remove_sel_from_multiselect("#language_subjects");
    });
    $("#remove-sel-collective-body-bt").click(target => {
	target.preventDefault();
	remove_sel_from_multiselect("#responsibility_collectivities");
    });
    $("#remove-sel-publication-place-bt").click(target => {
	target.preventDefault();
	remove_sel_from_multiselect("#publication_places");
    });
    $("#remove-selected-individual-bt").click(target => {
	target.preventDefault();
	remove_sel_from_multiselect("#responsibilities_people");
    });
    $("#remove-collectivity-subject-bt").click(target => {
	target.preventDefault();
	remove_sel_from_multiselect("#collectivity_subjects");
    });
    // add collective body responsibility
    $("#add-responsibility-coll-body").click(
	get_add_responsibility_fn(
	    "selected_coll_body_id", "#select-ordering",
	    "#responsibility-names-collective-bodies",
	    "#selected_collective_body",
	    "#responsibility_collectivities"));
    // add individual responsibility
    $("#add-responsibility-individual").click(
	get_add_responsibility_fn(
	    "selected_individual_id", "#select-ordering-individuals",
	    "#responsibility-names-individuals", "#selected_individual",
	    "#responsibilities_people"));

    $("#clear-original-language").click(target => {
	target.preventDefault();
	$("#original_language").val("");
	$("#original_language_id").val("");
    });
    $("#clear-document-language").click(target => {
	target.preventDefault();
	$("#language").val("");
	$("#language_id").val("");
    });  
});
</script>
{% endblock %}
