{% extends "list_of_items.html" %}
{% block list_items %}
  <table class="table table-hover col-md-7">
    {% for location in pagination.items %}
      <tr>
	<td>
	  {{ macros.render_location(location) }}
	</td>
	<td>
	  {{ macros.see_list_badge(
	  location.document_publication_place,
	  pre_title='documents&nbsp;published:',
	  post_title=None) }}

	  {{ macros.see_list_badge(
	  location.documents_topics,
	  badge_class='badge badge-primary badge-secondary',
	  pre_title='documents&nbsp;&ndash;&nbsp;topic:',
	  post_title=None) }}
	</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
