{% extends "list_of_items.html" %}
{% block list_items %}
  <table class="table table-hover col-md-7">
    {% for location in pagination.items %}
      <tr>
	<td>
	  {{ macros.render_location(location) }}
	</td>
	<td>
	  {{ macros.geo_location_docs_published(
	  location.document_publication_place,
	  id_number=location.location_id) }}

	  {{ macros.geo_location_docs_topics(
	  location.documents_topics,
	  id_number=location.location_id) }}
	</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
