{% extends "base.html" %}
{% block content %}
  <h1>{{ location.name }}</h1>
  <h6>Details for geographic location id: {{ location.location_id }}</h6>
  <table class="table table-hover col-md-6">
    {% if location.native_name %}
      <tr>
	<td>Native name:</td>
	<td>{{ location.native_name }}</td>
      </tr>
    {% endif %}
    {% if location.other_name %}
      <tr>
	<td>Other name:</td>
	<td>{{ location.other_name }}</td>
      </tr>
    {% endif %}
    {% if location.determiner %}
      <tr>
	<td>Determiner:</td>
	<td>{{ location.determiner }}</td>
      </tr>
    {% endif %}
    {% if location.note %}
      <tr>
	<td>Note:</td>
	<td>{{ location.note }}</td>
      </tr>
    {% endif %}
    {% if location.document_publication_place.count() %}
      <tr>
	<td>
	    Number of documents published in this location:
	</td>
	<td>
	  {{ macros.see_list_badge(
	  location.document_publication_place,
	  id_number=location.location_id,
	  by_entry_type='geographic_location',
	  filter_type='by_publication_place',
	  endpoint='.documents_list') }}
	</td>
      </tr>
    {% endif %}
    {% if location.documents_topics.count() %}
      <tr>
	<td>
	    Number of documents for which this location is a topic:
	</td>
	<td>
	  {{ macros.see_list_badge(
	  location.documents_topics,
	  id_number=location.location_id,
	  by_entry_type='geographic_location',
	  filter_type='by_subject',
	  endpoint='.documents_list') }}
	</td>
      </tr>
    {% endif %}
    <tr>
      <td>{{ macros.edit_entry_bt('geographic-location', location.location_id) }}</td>
      <td>{{ macros.modal_delete_button_modal('geographic-location', location.location_id) }}</td>
    </tr>
  </table>
{% endblock %}
