{% extends "base.html" %}
{% block content %}
  <div class="col col-md-8 mx-auto">
    <h1><a id="project-description" href="#project-description">
	Project description</a></h1>
<p>This is a simple bibliography application for viewing and creating
collections of records for documents.</p>
<p>It has the following functionality:</p>
<ul>
  <li>Defining statements of responsibility (author, publisher etc.)</li>
  <li>Adding to the database:</li>
  <ul>
    <li>Bibliographic descriptions of documents</li>
    <li>Personal records for authors, illustrators, translators etc.</li>
    <li>Records for collective bodies such as publishing houses, foundations etc.,</li>
    <li>geographic locations, languages, document types, statements of responsibility</li>
  </ul>
  <li>Defining document topics (subject keywords, geographic locations,
individuals etc.)</li>
  <li>Browsing, searching and editing collected information</li>
  <li>Registering and authenticating bibliography editors and managing
    their accounts.</li>
</ul>

<h4><a id="reasons" href="#reasons">I chose to write a simplified bibliography web application for the following
reasons:</a></h4>
<ul>
  <li>It gave me the opportunity to practice using relational database with
    various relationships between tables.</li>
  <li>Bibliographies are something I used to learn about while I was studying at the university.</li>
</ul>

<h4><a id="difference" href="#difference">What is the difference between bibliography and library management system?</a></h4>
<p>Bibliographies and bibliography applications are similar to
library management systems in that they register documents (bibliographic entries).</p>
<p>The main difference is that the bibliography records characteristics
  of all copies of a given book as a single publication,
  whereas library management system also records particular physical copies
  of a document (among other functionality).</p>
<p>The aim of a bibliography is to inform users about documents published and allow
them to browse bibliographic descriptions using different criteria (such as
topics of a document; it's author, publication place etc.)</p>
<p>I took <em>Polska Bibliografia Literacka</em> (Polish Bibliography of Literature
available at <a href="http://www.ibl.poznan.pl/" target="_blank">
http://www.ibl.poznan.pl/</a>)
as a very general model for my application (mainly in respect to it's purpose).</p>

  <h4><a id="technologies-used" href="#technologies-used">
      Technologies used</a></h4>
<p>This is my first attempt to create a web application. It serves the purpose of
learning and, at the same time, practicing the following tools,
frameworks, technologies and skills:</p>
<ul>
  <li>Flask web framework</li>
  <li>Jinja2 templating mechanism</li>
  <li>SQLAlchemy Object-Relational Mapper (ORM)</li>
  <li>Python programming language</li>
  <li>HTML + Bootstrap</li>
  <li>Designing database using Entity-Relationship (ER) diagrams</li>
  <li>Using MySQL Workbench as a database design tool</li>
  <li>PyUnit testing framework</li>
  <li>UML use-case diagrams</li>
  <li>Elasticsearch (for searching the database)</li>
  <li>Writing software requirements document</li>
  <li>JavaScript (with JQuery - basics of which I learnt during writing the code,
  just as I did with Bootstrap)</li>
  <li>Object-oriented paradigm as well as taking advantage of functions as first-class citizens in both Python and JS</li>
  <li>Basics of Git</li>
  <li>SQLite database</li>
</ul>

<p>I used Emacs for writing most of the code, including Jinja2 templates
(Emacs has also a mode for Jinja2 syntax). Occasionally, I was using
ActiveState Komodo text editor for better html and
JS code formatting.</p>

<h3><a id="references" href="#references">References:</a></h3>
<p>During (and before) the development of the application I familiarized myself with the following resources (books, learning materials, official documentation and websites):</p>

<h5>Books:</h5>
<ul>
  <li>Duckett, Jon.  <em>HTML & CSS. Design and Build Websites.</em> Indianapolis, 2011.</li>
  <li>Grinberg, Miguel. F<em>lask Web Development: Developing Web
    Applications with Python.</em> [Sebastopol], 2018.</li>
  <li>Haverbeke, Marijn. <em>Eloquent JavaScript</em>. 3rd edition. 2018
    (available online:
    <a href="https://eloquentjavascript.net/" target="_blank">
      https://eloquentjavascript.net/)
  </a></li>
  <li>Lutz, Mark. <em>Learning Python.</em> [Sebastopol], 2009.</li>
  <li>Pratt, Phil; Last, Mary. <em>Concepts of Database
    Management.</em> Boston, 2014. (Fragments only)</li>
  <li>Sommerville, Ian. <em>Software Engineering.</em> Boston, 2016.</li>
</ul>

<h5>Websites (last accessed on December 30, 2021):</h5>
<ul>
  <li><a href="https://getbootstrap.com/" target="_blank">
      Bootstrap 4 documentation</a> - https://getbootstrap.com/
  </li>
  <li>
    <a href="https://jquery.com/" target="_blank">
      JQuery documentation</a> - https://jquery.com/
  </li>
  <li>
    <a href="https://developer.mozilla.org/en-US/" target="_blank">
      MDN Web Docs
    </a>
    (Mozilla developer's docs - include reference on
    JavaScript and HTML, among other Web technologies) - https://developer.mozilla.org/en-US/</li>
  <li>
<a href="https://realpython.com/" target="_blank">
Real Python</a> (Emacs configuration for use with Python,
    useful posts about Python and it's features) - https://realpython.com/</li>
  <li>
    <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world" target="_blank">
      Miguel Grinberg's blog about Python, Flask and much more:</a> https://blog.miguelgrinberg.com/
  </li>
  <li>
    <a href="https://docs.sqlalchemy.org/en/14/" target="_blank">
      SQLAlchemy documentation
    </a>
    - https://docs.sqlalchemy.org/en/14/
  </li>
  <li>
    <a href="https://stackoverflow.com/" target="_blank">
      StackOverflow
    </a>
    (usually browsing already answered questions):
    https://stackoverflow.com/</li>
</ul>
</div>
{% endblock %}
