{% extends "base.html" %}
{% block content %}
<h1>Lorem ipsum dolor sit amet</h1>
<p>
  <ol>
    <li>consectetur adipiscing elit.</li>
    <li>Aenean ac enim nisi.</li>
    <li>Pellentesque vitae nisl id dolor pharetra aliquet eget at nibh.</li>
    <li><dl>
Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
</dl></li> Nullam augue leo, accumsan non dolor sed, consectetur hendrerit nibh.
    </ol> <dt>Phasellus eleifend vestibulum est. </dt><dt>In hac habitasse platea dictumst. </dt><dd>Aenean at fermentum neque, a congue purus.</dd><br />
    <strong>Aenean sed interdum ex.</strong> <em>Donec rutrum lectus a augue pellentesque mattis.</em>Cras ut ipsum vitae nisi iaculis elementum. <ul>
<li>Donec fringilla quam sit amet lobortis porta.</li> <li>Interdum et malesuada fames ac ante ipsum primis in faucibus.</li><li>In pretium purus et dui aliquet, ut feugiat mi mattis.</li> <li>Donec feugiat, nisl a sollicitudin volutpat, enim quam efficitur ex, ac ultricies augue ligula non augue.</li>
</ul> Nulla nisi ligula, congue quis aliquam ac, imperdiet eget est. Aliquam ut laoreet ex.</p>
{% endblock %}