{% extends "base.html" %}
{% block content %}
  <ul class="list-group col-md-7">
    {% for keyword in pagination.items %}
      <li class="h5 list-group-item-action d-flex justify-content-between align-items-center">
	<a href="{{ url_for('.keyword_details', keyword_id=keyword.id) }}">
	  {{ keyword.keyword }}
	  {% if keyword.determiner %} ({{ keyword.determiner }}) {% endif %}
	</a>

	{# later add hyperlink for documents list #}
      <span class="badge badge-primary badge-dark">
	documents: {{ keyword.documents.count() }}
      </span>
      </li>
    {% endfor %}
    </ul>
    {{ macros.pagination_widget(pagination, '.keywords_list') }}
  {% endblock %}
