{% extends "base.html" %}
{% block content %}
  <h1>{{ language.language_name }}</h1>
  <h6>Details for the language entry, id: {{ language.language_id }}</h6>
  <table class="table table-hover col-md-6">
    {% if language.native_name %}
      <tr>
	<td>Native language name:</td>
	<td>{{ language.native_name }}</td>
      </tr>
    {% endif %}
    {% if language.other_name %}
      <tr>
	<td>Other name:</td>
	<td>{{ language.other_name }}</td>
      </tr>
    {% endif %}
    {% if language.iso_639_1_language_code %}
      <tr>
	<td>ISO 639-1 language code:</td>
	<td>{{ language.iso_639_1_language_code }}</td>
      </tr>
    {% endif %}
    {% if language.iso_639_2_language_code %}
      <tr>
	<td>ISO 639-2 language code:</td>
	<td>{{ language.iso_639_2_language_code }}</td>
      </tr>
    {% endif %}
    <tr>
      <td>Documents published in this language:</td>
      <td>
	{{ macros.language_docs_list(
	language.documents,
	filter_type='by_publication_language',
	id_number=language.language_id) }}
      </td>
    </tr>
    <tr>
      <td>Documents for which this is an original language:</td>
      <td>
	{{ macros.language_docs_list(
	language.documents_original_lang,
	filter_type='by_original_language',
	id_number=language.language_id) }}
      </td>
    </tr>
    <tr>
      <td>Documents for which this language is a topic:</td>
      <td>
	{{ macros.language_docs_list(
	language.documents_topics,
	filter_type='by_topic',
	id_number=language.language_id) }}
      </td>
    </tr>
    <tr>
      <td>{{ macros.edit_entry_bt('language', id=language.language_id) }}</td>
      <td>{{ macros.modal_delete_button_modal('language', language.language_id) }}</td>
    </tr>
  </table>
{% endblock %}
