{########################################}
{# General (polymorphic) list of items. #}
{########################################}
{% extends "base.html" %}
{% block content %}
  <div id="list-headers">
    {% if title %} <h3 class="list-header">{{ title }}</h3> {% endif %}
    {% if subtitle %} <h5>{{ subtitle|safe }}</h5> {% endif %}
  </div>
    {% block list_items %}
      {% include partial_template_name %}
    {% endblock %}
  {% if pagination %}
    {{ macros.pagination_widget(pagination, endpoint, kargs) }}
  {% endif %}
{% endblock %}
