{% macro pagination_widget(pagination, endpoint, kargs={}) %}
  {# Generates bootstrap pager for paginated sites. #}
  {# Reused (with changes) from: M. Grinberg, Flask..., p. 159-160 #}
  {% if kargs %}
      {# Dummy asssignment in order to mergs kargs with kwargs: #}
    {% set dummy = kwargs.update(kargs) %}
  {% endif %}
  <ul class="pagination">
    <li class="page-item {% if not pagination.has_prev %} disabled{% endif %}">
      <a class="page-link"
	 href="{% if pagination.has_prev %}{{ url_for(endpoint,
	 page = pagination.page - 1, **kwargs) }}{% else %}#{% endif %}">
	 &laquo;
      </a>
    </li>
    {% for p in pagination.iter_pages() %}
      {% if p %}
	{% if p == pagination.page %}
	  <li class="page-item active">
	    <a class="page-link"
	       href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
	  </li>
	{% else %}
	  <li>
	    <a class="page-link"
	       href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
	  </li>
	{% endif %}
      {% else %}
  <li class="page-item disabled"><a href="#">&hellip;</a></li>
{% endif %}
{% endfor %}
<li class="page-item{% if not pagination.has_next %} disabled{% endif %}">
  <a class="page-link" href="{% if pagination.has_next %}{{ url_for(endpoint,
	   page = pagination.page + 1, **kwargs) }}{% else %}#{% endif %}">
	   &raquo;
  </a>
</li>
</ul>
{% endmacro %}


{% macro render_list(items, item_fn) %}
  {# Renders list of items (people, geographic location) #}
  {# using funtion for creating individual item. #}
  {# Used to create lists of items in detailed document view. #}
  <ul class="items-list list-group">
    {% for item in items %}
      <li class="list-group-item">{{ item_fn(item) }}</li>
    {% endfor %}
  </ul>
{% endmacro %}


{% macro render_collective_body(col_body, class=None) %}
  {# Prints collective body name and hyperlink in a detailed view route. #}
  <a {% if class %} class="{{ class }}" {% endif %}
     href="{{ url_for('.collective_body_details',
	   c_body_id=col_body.id) }}">
	   {{ col_body.name }}
  </a>
{% endmacro %}


{% macro render_collective_body_responsibility(col_body) %}
  {# Prints collective body (name) and it's responsibility in #}
  {# a document template. #}
    {{ render_responsibility(col_body.responsibility) }}:
  <br>
  {{ render_collective_body(col_body.collectivity) }}
{% endmacro %}


{% macro render_person(person, class=None) %}
  {# Prints person's name and hyperlink for a detailed view. #}
  <a {% if class %} class="{{ class }}" {% endif %}
    href="{{ url_for('.person_details', person_id=person.person_id) }}">
    <em>{{ person.last_name }}</em>{% if person.forenames %},
    {{ person.forenames }} {% endif %}
  {% if person.life_years %} ({{ person.life_years }}) {% endif %}</a>
{% endmacro %}


{% macro render_person_name_variant(variant) %}
  {% if variant.last_name_variant %}
    {{ variant.last_name_variant }},
  {% endif %}
  {{ variant.first_name_variant }}&nbsp;
  <a href="{{ url_for('.name_variant',
	   variant_id=variant.variant_id) }}">details&nbsp;&hellip;</a>
{% endmacro %}


{% macro render_responsibility(responsibility, class=None) %}
  <a {% if class %} class="{{ class }}" {% endif %}
     href="{{ url_for('.responsibility_details',
     responsibility_id=responsibility.id) }}">
     {{ responsibility.responsibility_name.capitalize() }}
  </a>
{% endmacro %}


{% macro render_person_responsibility(person_responsibility) %}
  {{ render_responsibility(
  person_responsibility.responsibility) }}:<br>
  {{ render_person(person_responsibility.person) }}
{% endmacro %}


{% macro render_location(location) %}
  <a href="{{ url_for('.geographic_location_details',
	   location_id=location.location_id) }}">
     {{ location.name }}
    {% if location.determiner %}
      <em>({{ location.determiner }})</em>
    {% endif %}
  </a>
{% endmacro %}


{% macro render_language(language) %}
<a href="{{ url_for('.language_details',
	 language_id=language.language_id) }}">
  {{ language.language_name }}
  {% if language.iso_639_1_language_code %}
    ({{ language.iso_639_1_language_code }})
  {% elif language.iso_639_2_language_code %}
    ({{ language.iso_639_2_language_code }})
  {% endif %}
</a>
{% endmacro %}


{% macro render_keyword(kw) %}
  <a href="{{ url_for('.keyword_details', keyword_id=kw.id) }}">
    {{ kw.keyword }} {% if kw.determiner %} ({{ kw.determiner }}) {% endif %}
  </a>
{% endmacro %}


{% macro responsibilities_list(responsibilities,
  by_entry_type=None, filter_type=None, id_number=None) %}
  {% if False %} {{ kwargs }} {% endif %}
  {# List of (person, collective body) responsibilities #}
  {# with number of attached documents.#}
  <table class="table-sm responsibilities">
    {% for (responsibility, count) in responsibilities %}
      <tr>
	<td>
	  {{ render_responsibility(responsibility) }}
	</td>
	<td>
	  {{ see_list_badge(
	  count=count,
	  pre_title='documents:',
	  post_title=None,
	  endpoint='.documents_list',
	  by_entry_type=by_entry_type,
	  filter_type=filter_type,
	  id_number=id_number,
	  responsibility_id=responsibility.id) }}
	</td>
      </tr>
    {% endfor %}
  </table>
{% endmacro %}


{% macro see_list_badge(
  relationship=None, 
  endpoint=None, 
  count=None, 
  badge_class="btn btn-outline-dark btn-sm",
  pre_title=None,
  post_title="&nbsp;&mdash;&nbsp;see&nbsp;list") %}
  {% set items_number = count or relationship.count() %}
  {% if endpoint and items_number %}
    <a href="{{ url_for(endpoint, **kwargs) }}">
  {% endif %} 
  <span class="{{ badge_class }}
{% if not endpoint or not items_number %}disabled{% endif %}"> 
    {% if pre_title %} 
      {{ pre_title|safe }} 
    {% endif %} 
    {% if count %} 
      {{ count }} 
    {% elif relationship.count() %} 
      {{ relationship.count() }} 
    {% else %} 
      {% set post_title = "empty" %}
    {% endif %} 
    {% if post_title %} 
      {{ post_title|safe }} 
    {% endif %} 
  </span> 
  {% if endpoint and items_number %} </a> {% endif %} 
{% endmacro %} 


{# Customized hyperlink for geographic locations list. #}
{% macro geo_location_docs_published(relationship) %}
  {{ see_list_badge(
  relationship,
  pre_title='documents&nbsp;published:',
  post_title=None,
  by_entry_type='geographic_location',
  filter_type='by_publication_place',
  id_number=kwargs['id_number'],
  endpoint='.documents_list') }}
{% endmacro %}


{# Customized hyperlink for geographic locations list. #}
{% macro geo_location_docs_topics(relationship) %}
  {{ see_list_badge(
  relationship,
  pre_title='documents&nbsp;&ndash;&nbsp;topic:',
  post_title=None,
  badge_class="btn btn btn-outline-secondary btn-sm",
  by_entry_type='geographic_location',
  filter_type='by_subject',
  id_number=kwargs['id_number'],
  endpoint='.documents_list') }}
{% endmacro %}


{# Customized hyperlink for language-details page. #}
{% macro language_docs_list(relationship) %}
  {{ see_list_badge(
  relationship,
  by_entry_type='language',
  filter_type=kwargs['filter_type'],
  id_number=kwargs['id_number'],
  endpoint='.documents_list') }}
{% endmacro %}


{% macro edit_entry_bt(entry_name, id) %}
  {% if current_user.can(Permissions.EDIT_BIBLIOGRAPHY) %}
    <a class="btn btn-warning" href="{{ url_for('main.edit_database_entry',
				     model_name=entry_name,
				     id=id) }}">
      Edit entry
    </a>
  {% endif %}
{% endmacro %}


{% macro modal_delete_button_modal(entry_model, id) %}
  {# button with modal window to confirm database entry deletion -  #}
  {# - made according to the Bootstrap documentation  #}
  {# https://getbootstrap.com/docs/4.0/components/modal/  #}
  {% if current_user.can(Permissions.EDIT_BIBLIOGRAPHY) %}
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#entry-delete-modal">
      Delete entry
    </button>
    <div class="modal fade" id="entry-delete-modal" tabindex="-1" role="dialog" aria-labelledby="entryDeleteModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
	    <h5 class="modal-title" id="confirmDeleteLabel">Confirm deletion</h5>
	    <button type="button" class="close" data-dismiss="modal" aria-label="close">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </div>
	  <div class="modal-body">
	    <p>Do you really want to delete this entry and its all relationships to other records? This operation is irreversible!</p>
	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-secondary" data-dismiss="modal">
	      Cancel
	    </button>
	    <a type="button" class="btn btn-danger"
	       href="{{ url_for('main.delete_entry', entry_model=entry_model, id=id) }}">
	      Delete
	    </a>
	  </div>
	</div>
      </div>
    </div>
  {% endif %}
{% endmacro %}
