{% macro pagination_widget(pagination, endpoint) %}
  {# Generates bootstrap pager for paginated sites. #}
  {# Reused (with changes) from: M. Grinberg, Flask..., p. 159-160 #}
  <ul class="pagination">
    <li class="page-item {% if not pagination.has_prev %} disabled{% endif %}">
      <a class="page-link"
	 href="{% if pagination.has_prev %}{{ url_for(endpoint,
	 page = pagination.page - 1, **kwargs) }}{% else %}#{% endif %}">
	 &laquo;
      </a>
    </li>
    {% for p in pagination.iter_pages() %}
      {% if p %}
	{% if p == pagination.page %}
	  <li class="page-item active">
	    <a class="page-link"
	       href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
	  </li>
	{% else %}
	  <li>
	    <a class="page-link"
	       href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
	  </li>
	{% endif %}
      {% else %}
  <li class="page-item disabled"><a href="#">&hellip;</a></li>
{% endif %}
{% endfor %}
<li class="page-item{% if not pagination.has_next %} disabled{% endif %}">
  <a class="page-link" href="{% if pagination.has_next %}{{ url_for(endpoint,
	   page = pagination.page + 1, **kwargs) }}{% else %}#{% endif %}">
	   &raquo;
  </a>
</li>
</ul>
{% endmacro %}


{% macro render_list(items, item_fn) %}
  {# Renders list of items (people, geographic location) #}
  {# using funtion creating individual item. #}
  <ul>
    {% for item in items %}
      <li>{{ item_fn(item) }}</li>
    {% endfor %}
  </ul>
{% endmacro %}


{% macro render_person_name_variant(variant) %}
  {{ variant.last_name_variant }},
  {{ variant.first_name_variant }}&nbsp;
  <a href="{{ url_for('main.name_variant',
	   variant_id=variant.variant_id) }}">details&nbsp;&hellip;</a>
{% endmacro %}


{% macro render_person(person) %}
  <a href="{{ url_for('.person_details', person_id=person.person_id) }}">
    <strong>{{ person.last_name }},</strong> {{ person.forenames }}
  {% if person.life_years %} ({{ person.life_years }}) {% endif %}</a>
{% endmacro %}


{% macro render_location(location) %}
  {# add individual pages for each location #}
  <strong>{{ location.name }}</strong>
  {% if location.determiner %}
    ({{ location.determiner }})
  {% endif %}
{% endmacro %}


{% macro render_keyword(kw) %}
  {# add hyperlink to view with keyword details #}
  {{ kw.keyword }} {% if kw.determiner %}({{ kw.determiner }}) {% endif %}
{% endmacro %}
