{% extends "base.html" %}
{% block content %}
  <h1>{{ responsibility.responsibility_name.capitalize() }}</h1>
  <h6>Details for responsibility entry, id number:
    {{ responsibility.id }}
  </h6>
  <table class="table table-hover col-md-6">
    <tr>
      <td>Responsibility name in the database:</td>
      <td>{{ responsibility.responsibility_name }}</td>
    </tr>
    {% if responsibility.responsibility_abbr %}
      <tr>
	<td>Responsibility abbreviation:</td>
	<td>{{ responsibility.responsibility_abbr }}</td>
      </tr>
    {% endif %}
    <tr>
      <td>Entry is modifiable:</td>
      <td>{{ responsibility.modifiable }}</td>
    </tr>
    {% if responsibility.responsibility_collectivities.count()  %}
      <tr>
	<td>
	  Number of <strong>collective bodies</strong>
	  with this responsibility:
	</td>
	<td>
	  {{ macros.see_list_badge(
	  responsibility.responsibility_collectivities,
	  responsibility_id=responsibility.id,
	  endpoint='.collective_bodies_list') }}
	</td>
      </tr>
    {% endif %}
    {% if responsibility.responsibilities_people.count() %}
    <tr>
      <td>
	Number of <strong>individuals</strong> with this
	responsibility:
      </td>
      <td>
	{{ macros.see_list_badge(
	responsibility.responsibilities_people,
	responsibility_id=responsibility.id,
	endpoint='.browse_people') }}
      </td>
    </tr>
  {% endif %}
  <tr>
    <td>{{ macros.edit_entry_bt('responsibility-name', responsibility.id) }}</td>
    <td>{{ macros.modal_delete_button_modal('responsibility-name', responsibility.id) }}</td>
  </tr>
  </table>
{% endblock %}
